# Dependencies
/node_modules

# Build output
/dist

# Log and lock files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*

# IDEs and editors
.vscode/
.idea/
.vercel/

# Obsolete directories
/supabase/

# System files
.DS_Store